<ion-view view-title="Connect to Moodle">
  <ion-content>
    <div class="">
      <div class="item item-text-wrap">Please provide the URL of the Moodle site you would like to get access to. Note that not all Moodle sites are compatible with the mobile app.</div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Site address</span>
        <input type="text" placeholder="moodle.org" ng-model="url">
      </label>
      <div class="item">
          <button class="button button-full button-positive" ng-click="connect(url)">Connect!</button>
      </div>
    </div>
  </ion-content>
</ion-view>