<ion-view view-title="Credentials">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-gear-b" ui-sref="site.settings"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-text-wrap">Please provide your username and password to login on <strong>{{url}}</strong>.</div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Username</span>
      <input type="text" placeholder="john.smith" ng-model="credentials.username">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Password</span>
      <input type="password" ng-model="credentials.password">
    </label>
    <div class="item">
      <button class="button button-full button-positive" ng-click="login()">Login!</button>
    </div>
  </ion-content>
</ion-view>
