<ion-view view-title="Login">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-edit" ng-click="toggleDelete()" ng-show='data.hasIdentities'></button>
      <button class="button button-icon ion-plus" ng-click="add()"></button>
      <button class="button button-icon ion-gear-b" ui-sref="site.settings"></button>
  </ion-nav-buttons>
  <ion-content>
      <ion-list ng-repeat="identity in identities" show-delete='data.showDelete'>
        <ion-item class="item item-thumbnail-left item-remove-animate" ng-click="login()">
          <ion-delete-button class="ion-minus-circled" ng-click='onItemDelete($event, $index)'></ion-delete-button>
          <img ng-src="{{identity.thumb}}">
          <h2>{{identity.name}}</h2>
          <p>{{identity.desc}}</p>
        </a>
      </ion-item>
    </ion-list>
      {{showDelete | json}}
  </ion-content>
</ion-view>

