<ion-view view-title="{{discussion.from.name}}" ng-class="(isTablet) ? 'tablet-view' : ''">
    <ion-content delegate-handle="messagesScroll">
        <ion-list>
            <div class='item item-message item-text-wrap' ng-repeat="message in discussion.messages | orderBy:'time' track by $index" ng-class='{"message-mine": message.mine, "royal": !message.mine}'>
                {{message.message}}
                <p class="item-note">{{message.time | date:"EEE d, h:mma"}}</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
<ion-footer-bar class="item-input-inset" ng-class="(isTablet) ? 'tablet-view' : ''">
    <label class="item-input-wrapper">
        <input type="search" placeholder="New message..." ng-model="newMessage">
    </label>
    <button class="button button-clear button-positive" ng-click="addMessage(newMessage); newMessage = '';">Send</button>
</ion-footer-bar>
