<ion-view view-title="Space Usage">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-edit" ng-click='toggleDelete()'></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete='showDelete'>
            <ion-item ng-repeat="site in sites">
                <ion-delete-button class="ion-minus-circled" ng-click='onItemDelete($event, $index)'></ion-delete-button>
                <span class="item-note">{{site.spaceusage}}</span>
                <h2>{{site.name}}</h2>
                <p>{{site.username}}</p>
            </ion-item>
            <ion-item class="item-divider">
                <span class="item-note">{{totalusage}}</span>
                <p>Total</p>
            </ion-item>
            <ion-item class="item-divider">
                <span class="item-note">{{freespace}}</span>
                <p>Free space</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>