<ion-view view-title="{{title}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-plus" ng-click="add()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div ng-repeat="file in files">
                <a ui-sref="site.files-my({path: $index})" class="item item-media" ng-if="file.children">
                    <img src="img/mod/folder.png" alt="">
                    {{file.name}}
                </a>
                <a class="item item-media" ng-if="!file.children">
                    <img src="img/files/pdf-32.png" alt="">
                    {{file.name}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
