<ion-view view-title="{{discussion.from.name}}">
    <ion-content delegate-handle="messagesScroll">
        <div class="messages padding">
            <div class='item item-text-wrap' ng-repeat="message in discussion.messages | orderBy:'time' track by $index" ng-class='{"message-mine": message.mine, "message": !message.mine}'>
                {{message.message}}
                <p class="item-note">{{message.time | date:"EEE d, h:mma"}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="item-input-inset">
    <label class="item-input-wrapper">
        <input type="search" placeholder="New message..." ng-model="newMessage">
    </label>
    <button class="button button-clear button-positive" ng-click="addMessage(newMessage); newMessage = '';">Send</button>
</ion-footer-bar>
