<ion-view view-title="All">
    <ion-content>
        <div class="card">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Filter" ng-model="filterText">
            </label>
        </div>
        <div class="card" ng-repeat="section in sections | filter:filterResources(filterText)">
            <div class="item item-divider">
                {{section.name}}
            </div>
            <a class="item item-icon-right" ng-repeat="resource in section.resources | filter:{name: filterText}" ng-href="{{resource.page}}" >
                <img ng-if="resource.img" ng-src="{{resource.img}}" alt="">
                {{resource.name}}
                <i ng-if="resource.icon" class="icon {{resource.icon}}" alt=""></i>
            </a>
        </div>
    </ion-content>
</ion-view>
