<ion-view view-title="{{discussion.from.name}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-person" ui-sref="site.messages-contact({index: index})"></button>
        <!-- TODO Use the person's avatar: <img ng-src="{{discussion.from.thumb}}"> -->
    </ion-nav-buttons>
    <ion-content class="padding" delegate-handle="messagesScroll">
        <div ng-repeat="message in discussion.messages | orderBy:'time' track by $index">
            <p ng-if="showDate(message)" class="item-date"><span class="badge badge-stable">{{message.time | date:"EEE, d MMM"}}</span></p>
            <p class='item item-message item-text-wrap' ng-class='{"message-mine": message.mine}'>
                {{message.message}}
                <span class="item-note">{{message.time | date:"h:mma"}}</span>
            </p>
            <div class="clearfix"></div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar>
    <form ng-submit="addMessage(newMessage); newMessage = '';" class="item-input-inset" style="width: 100%">
    <label class="item-input-wrapper">
        <input type="search" placeholder="New message..." ng-model="newMessage">
    </label>
    <button type="submit" class="button button-clear" ng-disabled="!newMessage">Send</button>
    </form>
</ion-footer-bar>
